@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
    font-family: "PT Sans";
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
}

.visually-hidden {
    visibility: hidden;
    position: absolute;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", "Arial", sans-serif;
}

.page-body {
    min-width: 1200px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 1200px;
}

.page-header {
    display: flex;
    align-items: center;
}

.page-header__logo {
    margin-left: 70px;
}

.logo-link {
    display: block;
}

.page-header ul {
    padding: 0;
    display: flex;
    list-style-type: none;
    column-gap: 32px;
    flex-wrap: wrap;
}

.page-header .navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 44px;
    margin-right: 70px;
}

.navigation-user {
    min-width: 273px;
    flex-wrap: wrap;
}

.navigation-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

.navigation-item__link {
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
}

.navigation-item__link.search {
    background-image: url(img/search.svg);
}

.navigation-item__link.fav {
    display: block;
    position: relative;
    background-image: url(img/favorite.svg);
}

.navigation-item a {
    text-decoration: none;
    color: black;
}

.navigation-item.button button {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 34px;
    background: #756157;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
}

.text-content {
    margin: 0;
    padding: 0;
}

.input {
    padding: 0;
    outline: none;
    border: none;
    margin: 0;
    font-family: "PT Sans", "Arial", sans-serif;
}

.button {
    outline: none;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    font-family: "PT Sans", "Arial", sans-serif;
}

.button:focus {
    outline: none;
    -webkit-box-shadow: 0 0 10px 7px rgba(127, 159, 184, 0.2);
    -moz-box-shadow: 0 0 10px 7px rgba(127, 159, 184, 0.2);
    box-shadow: 0 0 10px 7px rgba(127, 159, 184, 0.2);
}

.input:focus {
    -webkit-box-shadow: 0 0 10px 7px rgba(127, 159, 184, 0.2);
    -moz-box-shadow: 0 0 10px 7px rgba(127, 159, 184, 0.2);
    box-shadow: 0 0 10px 7px rgba(127, 159, 184, 0.2);
    outline: 2px solid #000000;
}

.favourites__count {
    position: absolute;
    top: -12px;
    background: #7db54f;
    border-radius: 50%;
    font-size: 10px;
    padding: 4px;
    right: -10px;
    color: #ffffff;
}

.section-start-content {
    width: 100%;
    min-height: 485px;
    background-image: url(img/cut-index-background.svg),
        url(img/index-background.jpg);
    background-position: bottom, center;
    background-repeat: no-repeat, no-repeat;
    background-color: #5d7da56b;
}

.welcome-text-image {
    width: 188px;
    min-height: 46px;
    margin: 0 auto;
    padding-top: 51px;
    background-image: url(img/new/welcome.svg);
    background-position: bottom;
    background-repeat: no-repeat;
}

.gorgeous-text-image {
    width: 188px;
    min-height: 46px;
    margin: 0 auto;
    background-image: url(img/new/gorgeous.svg);
    background-position: bottom;
    background-repeat: no-repeat;
}

.sedona-text-image {
    width: 457px;
    min-height: 213px;
    margin: 0 auto;
    padding-top: 54px;
    background-image: url(img/new/sedona.svg);
    background-position: bottom;
    background-repeat: no-repeat;
}

.page-main__city-features {
    width: 100%;
    margin-top: 69px;
}

.city-features__caption,
.city-features__desc-caption {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.city-features__caption {
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: 700;
}

.city-features {
    margin-top: 90px;
}

.city-features-wrap {
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.city-feature__picture-plus.pic-right {
    grid-template-columns: 1fr 2fr;
}

.city-feature__picture-plus.pic-left {
    grid-template-columns: 2fr 1fr;
}

.city-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.light-blue {
    background-color: #83b3d31f;
}

.blue {
    background-color: #83b3d333;
}

.ocean-blue {
    background-color: #82b3d3;
}

.ocean-blue {
    color: #ffffff;
}

.city-feature__picture img {
    height: 100%;
    width: 100%;
}

.city-feature__title {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 30%;
    text-align: center;
}

.city-feature__title--icon {
    text-transform: uppercase;
    font-weight: 700;
}

.city-feature__title,
.city-feature__description {
    max-width: 272px;
    text-align: center;
}

.city-feature__description {
    font-size: 18px;
    color: #333333;
}

.city-feature__decor-line {
    height: 2px;
    width: 60px;
    background-color: #0000004d;
    margin-top: 30px;
    margin-bottom: 30px;
}

.city-feature--icon {
    row-gap: 30px;
}

.city-feature__icon {
    margin-top: 20%;
    width: 72px;
    height: 72px;
    background-size: contain;
    background-repeat: no-repeat;
}

.city-feature__icon.state {
    background-image: url(img/icon-residence.svg);
}

.city-feature__icon.food {
    background-image: url(img/icon-food.svg);
}

.city-feature__icon.souvenir {
    background-image: url(img/icon-souvenir.svg);
}

.page-main__info-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-block__container {
    width: 100%;
    text-align: center;
    margin: 96px auto;
}

.info-block__caption {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.info-block__text {
    color: #333333;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.info-block__hotel-seach-button {
    margin-top: 54px;
    color: #ffffff;
    padding: 8px 50px;
    background-color: #756157;
    outline: none;
    border: none;
}

.info-block__button-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.info-block__mailing-wrap {
    background-image: url(img/footer-background.jpg);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    background-color: #5d7da56b;
}

.info-block__mailing-wrap.noimage {
    background-image: none;
    color: #000000;
    background-color: unset;
}

.info-block__mailing-caption {
    margin-top: 96px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}

.info-block__mailing-text {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.info-block__form {
    margin-top: 54px;
    margin-bottom: 100px;
    display: flex;
}

.info-block__input {
    padding-left: 20px;
    width: 452px;
    height: 52px;
    background: #f2f2f2;
    border-radius: 4px 0 0 4px;
}

.info-block__form-button {
    background: #82b3d3;
    height: 52px;
    border-radius: 0 4px 4px 0;
    padding: 8px 50px;

    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
}

.page-footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 32px;
    padding-bottom: 32px;
    flex-wrap: wrap;
    padding-left: 81px;
    padding-right: 70px;
}

.page-footer__nav-list {
    display: flex;
    column-gap: 26px;
    width: 33%;
    flex-wrap: wrap;
}

.page-footer__phone {
    width: 33%;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.page-footer__link {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-item__link {
    display: block;
    background-repeat: no-repeat;
}

.nav-item__link.vk {
    background-image: url(img/icon-vk.svg);
    width: 25px;
    height: 15px;
}

.nav-item__link.telegram {
    background-image: url(img/icon-telegram.svg);
    width: 18px;
    height: 16px;
}

.nav-item__link.youtube {
    background-image: url(img/icon-youtube.svg);
    width: 20px;
    height: 16px;
}

.short-input-wrapper {
    display: flex;
    justify-content: space-between;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-container.open {
    display: flex;
}

.modal {
    position: relative;
    margin: auto;
    padding: 70px;
    background: #ffffff;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}

.modal input {
    height: 48px;
    background: #f2f2f2;
    border-radius: 4px;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    padding-left: 20px;
}

.input-container {
    width: 100%;
}

.modal-content {
    min-width: 560px;
    position: relative;
}

.modal-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 60px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    row-gap: 23px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.calendar-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-20px, -50%);
    background-image: url(img/calendar-ico.svg);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.num-input-container {
    display: flex;
}

.math-sign {
    position: absolute;
    right: 0;
    top: 50%;
    width: 15px;
    cursor: pointer;
}

.math-sign.minus {
    transform: translate(-94px, -50%);
    background-image: url(img/minus.svg);
    height: 2px;
}

.math-sign.plus {
    height: 15px;
    transform: translate(-20px, -50%);
    background-image: url(img/plus.svg);
}

.modal-content__close-btn {
    background-image: url(img/modal-close.svg);
    position: absolute;
    right: 0;
    transform: translate(20px, 0);
    cursor: pointer;
    width: 52px;
    height: 52px;
    border: none;
    border-radius: 50%;
}

.input-hint {
    margin: 0;
    margin-left: 150px;
    padding: 4px;
}

.input-hint.warning {
    color: #ff5757;
}

.input-wrapper.short input {
    width: 70px;
    padding-left: 60px;
}

.input-label {
    margin-right: 24px;
    white-space: nowrap;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
}

.label-wrap {
    width: 130px;
    display: flex;
    align-items: center;
}

.with-hint {
    margin-right: 10px;
}

.label__hint {
    background-color: #83b3d3;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    position: relative;
}

.label__hint-content {
    display: none;
    position: absolute;
    background: #333333;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: #ffffff;
    padding: 18px;
    width: 216px;
    top: 35px;
}

.label__hint-arrow {
    display: none;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    background: #333333;
    top: 26px;
}

.label__hint:hover .label__hint-content,
.label__hint:hover .label__hint-arrow {
    display: block;
}

.modal-form__button {
    margin-top: 25px;
    background: #83b3d3;
    width: 100%;
    border-radius: 10px;
    height: 60px;
}

.modal-form__button-text {
    color: #f2f2f2;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
    appearance: textfield;
    -moz-appearance: number-input;
}

.hotel-search__range-scale {
    position: relative;
    height: 4px;
    margin-bottom: 16px;
    background-color: #ffffff30;
    border-radius: 2px;
}

.hotel-search__range-bar {
    position: absolute;
    height: 4px;
    background-color: #ffffff;
    width: 215px;
}

.hotel-search__range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-min {
    top: -8px;
    left: 0;
}

.toggle-max {
    top: -8px;
    right: -10px;
}

.page-main__hotel-search {
    padding-top: 35px;
    padding-left: 70px;
    padding-bottom: 70px;
    color: #ffffff;
    background-image: url(img/hotels-background.jpg);
    background-color: #5d7da56b;
}

.hotel-search__caption {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.hotel-search__block-caption {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
}

.hotel-search__nav {
    display: flex;
    column-gap: 10.5px;
    margin-bottom: 40px;
    align-items: center;
}

.hotel-search__nav-item {
    background-repeat: no-repeat;
}

.hotel-search__nav-item a {
    display: block;
    width: 100%;
    height: 100%;
}

.hotel-search__nav-item.state-icon {
    background-image: url(img/icon-home.svg);
    width: 12px;
    height: 12px;
}

.hotel-search__nav-item.decor-icon {
    background-image: url(img/arrow-forward.svg);
    width: 8px;
    height: 11px;
}

.hotel-search__settings {
    display: flex;
}

.hotel-search__features-list,
.hotel-search__type-list {
    display: flex;
    flex-direction: column;
    row-gap: 19px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
}

.hotel-search__feature-item {
    display: flex;
    column-gap: 14px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.hotel-search__state-type {
    margin-left: 70px;
    margin-right: 140px;
}

.hotel-search__type-list {
    padding: 0;
    margin: 0;
}

.hotel-search__type-item {
    display: flex;
    column-gap: 14px;
}

.hotel-search__price {
    width: 288px;
}

.price-inputs {
    display: flex;
    column-gap: 2px;
    margin-bottom: 36px;
}

.price-input__wrap {
    width: 143px;
    height: 48px;
    position: relative;
}

.price-input__wrap input {
    height: 100%;
    padding-left: 20px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

.input-min-price,
.input-max-price {
    position: absolute;
    color: #8a8a8a;
    right: 12px;
    transform: translate(0, 55%);
}

.price-input__min {
    border-radius: 4px 0 0 4px;
}

.price-input {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.price-input__max {
    border-radius: 0 4px 4px 0;
}

.form-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 54px;
    width: 100%;
}

.form-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    padding: 8px 50px 8px 50px;
    border-radius: 4px;
    background-color: #82b3d3;
    text-transform: uppercase;
}

.form-button.clear-button {
    background: none;
}

.hotel-search__result {
    margin-top: 50px;
}

.search-result__top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.search-result__hotels-count {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    white-space: nowrap;
    padding-left: 70px;
}

.search-result__select-wrap {
    display: flex;
    align-items: center;
}

.search-result__top-bar select {
    padding: 14px 20px;
    height: 49px;
    padding-right: 100px;
    border: 2px solid #e5e5e5;
    border-radius: 4px;
    background-color: #ffffff;
}

.search-result__top-bar option {
    background-color: #ffffff;
}

.search-result__view-type {
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
    column-gap: 8px;
}

.view-type__buton {
    background: none;
    width: 48px;
    height: 48px;
    border-radius: 4px;
}

.view-type__buton:focus {
    outline: 2px solid #000000;
    outline-offset: -2px;
    box-shadow: none;
}

.view-type__buton.kanban {
    background-image: url(img/icon-kanban.svg);
}

.view-type__buton.single {
    background-image: url(img/icon-singleview.svg);
}

.view-type__buton.list {
    background-image: url(img/icon-list.svg);
}

.search-result-hotels {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-left: 70px;
    margin-right: 70px;
}

.hotel-card {
    padding: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    max-width: 300px;
}

.hotel-card-image img {
    width: 100%;
    height: auto;
}

.hotel-card__hotel-name {
    margin-bottom: 14px;
    margin-top: 14px;
}

.hotel-card__info {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.hotel-card__main {
    display: flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    justify-content: space-between;
}

.hotel-card__buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hotel-card__button {
    border-radius: 4px;
    color: #ffffff;
    width: 45%;
    height: 36px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    text-transform: uppercase;
}

.hotel-card__button span {
    max-width: 100%;
    word-break: break-all;
    display: block;
    width: 100%;
}

.hotel-card__state-type, .hotel-card__price {
    color: #333333;
}

.more-info {
    background-color: #756157;
}

.favourites {
    background-color: #82b3d3;
}

.favourites.already-in {
    background-color: #7db54f;
}

.hotel-card__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating-count {
    border-radius: 4px;
    color: #333333;
    background-color: #f2f2f2;
    width: 45%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    text-transform: uppercase;
    margin: 0;
}

.rating-stars {
    display: flex;
    column-gap: 6px;
}

.rating-star {
    width: 18px;
    height: 17px;
    background-image: url(img/star.svg);
}

.result-pagination {
    padding-left: 70px;
}

.pagination {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    column-gap: 8px;
}

.pagination-item {
    width: 60px;
    height: 60px;
    background-color: #82b3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}

.pagination-item.current {
    background-color: #f2f2f2;
}

.pagination-item.current .pagination-item__link {
    color: #000000;
}

.pagination-item .pagination-item__link {
    color: #ffffff;
}

.pagination-hidden {
    background: none;
    color: #000000;
}

.pagination-item__link {
    text-decoration: none;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox + label::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: #ffffff;
}

.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: #acacac;
}

.custom-checkbox:not(:disabled):active + label::before {
    background-color: #b3d7ff;
    border-color: #ffffff;
}

.custom-checkbox:focus + label::before {
    box-shadow: 0 0 0 0.2rem rgba(255, 136, 0, 0.55);
}

.custom-checkbox:focus:not(:checked) + label::before {
    border-color: #ffffff;
}

.custom-checkbox:checked + label::before {
    border-color: #ffffff;
    background-color: #ffffff;
    background-image: url(img/checkmark.svg);
}

.custom-checkbox:disabled + label::before {
    background-color: #e9ecef;
}

.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-radio + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-radio + label::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 65% 55%;
}

.custom-radio:not(:disabled):not(:checked) + label:hover::before {
    border-color: #b3d7ff;
}

.custom-radio:not(:disabled):active + label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

.custom-radio:focus + label::before {
    box-shadow: 0 0 0 0.2rem rgba(255, 136, 0, 0.55);
}

.custom-radio:focus:not(:checked) + label::before {
    border-color: #80bdff;
}

.custom-radio:checked + label::before {
    border-color: #ffffff;
    background-color: #ffffff;
    background-image: url(img/circle.svg);
}

.custom-radio:disabled + label::before {
    background-color: #e9ecef;
}
