@font-face {
    font-family: 'PT Sans';
    font-weight: 400;
    src: url('/fonts/ptsans-400.woff2') format('woff2')
}

@font-face {
    font-family: 'PT Sans';
    font-weight: 700;
    src: url('/fonts/ptsans-700.woff2') format('woff2')
}

.visually-hidden {
    visibility: hidden;
    position: absolute;
}

h1,
h2,
p {
    margin: 0;
    padding: 0;
}

input {
    padding: 0;
    outline: none;
    border: none;
    margin: 0;
}

button {
    outline: none;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans';
}

.page-body {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.page-header {
    height: 64px;
    display: flex;
    align-items: center;
}

.page-header__logo {
    margin-left: 70px;
}

.page-header ul {
    padding: 0;
    display: flex;
    list-style-type: none;
    column-gap: 32px;
}

.page-header .navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 44px;
    margin-right: 70px;
}

.navigation-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-item a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.navigation-item.button a {
    text-transform: uppercase;
    font-size: 16px;
    background: #756157;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 34px;
    background: #756157;
    border-radius: 4px;
    color: #FFFFFF;
}

.favourites-icon-link {
    display: block;
    position: relative;
}

.favourites__count {
    position: absolute;
    top: -12px;
    background: #7DB54F;
    border-radius: 50%;
    font-size: 10px;
    padding: 4px;
    right: -10px;
    color: #FFFFFF;
}

.section-start-content {
    width: 100%;
    height: 485px;
    background-image: url(/src/img/cut-index-background.svg),
        url(/src/img/index-background.jpg);
    background-position: bottom, center;
    background-repeat: no-repeat, no-repeat;
}

.welcome-text-image {
    width: 188px;
    height: 46px;
    margin: 0 auto;
    padding-top: 51px;
    background-image: url(/src/img/new/welcome.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    /* border: 1px solid black; */
}

.gorgeous-text-image {
    width: 188px;
    height: 46px;
    margin: 0 auto;
    /* padding-top: 51px; */
    background-image: url(/src/img/new/gorgeous.svg);
    background-position: bottom;
    background-repeat: no-repeat;
}

.sedona-text-image {
    width: 457px;
    height: 213px;
    margin: 0 auto;
    padding-top: 54px;
    background-image: url(/src/img/new/sedona.svg);
    background-position: bottom;
    background-repeat: no-repeat;
}

.page-main__city-features {
    width: 100%;
    margin-top: 69px;
}

.city-features__caption,
.city-features__desc-caption {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.city-features__caption {
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: 700;
}

.city-features__desc-caption {}

.city-features {
    margin-top: 90px;
}

.city-features-wrap {
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.city-feature__picture-plus.pic-right {
    grid-template-columns: 1fr 2fr;
}

.city-feature__picture-plus.pic-left {
    grid-template-columns: 2fr 1fr;
}

.city-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.light-blue {
    background-color: #83B3D31F;
}

.blue {
    background-color: #83B3D333;
}

.ocean-blue {
    background-color: #82B3D3;
}

.ocean-blue {
    color: #FFFFFF;
}

.city-feature__picture img {
    height: 100%;
    width: 100%;
}

.city-feature__title {
    text-transform: uppercase;
    font-weight: 700;
}

.city-feature__title,
.city-feature__description {
    max-width: 272px;
    text-align: center;
}

.city-feature__description {
    font-size: 18px;
}

.city-feature__decor-line {
    height: 2px;
    width: 60px;
    background-color: #0000004D;
    margin-top: 30px;
    margin-bottom: 30px;
}

.city-feature--icon {
    row-gap: 30px;
}

.page-main__info-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-block__container {
    /* max-width: 592px; */
    width: 100%;
    text-align: center;
    margin: 96px auto;
}

.info-block__caption {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.info-block__text {
    color: #333333;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.info-block__hotel-seach-button {
    margin-top: 54px;
    color: #FFFFFF;
    padding: 8px 50px;
    background-color: #756157;
    outline: none;
    border: none;
}

.info-block__button-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.info-block__mailing-wrap {
    background-image: url(/src/img/footer-background.jpg);
    width: 100%;
    height: 411px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    color: #FFFFFF;
}

.info-block__mailing-wrap.noimage {
    background-image: none;
    color: #333333;
}

.info-block__mailing-caption {
    margin-top: 96px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.info-block__mailing-text {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.info-block__form {
    margin-top: 54px;
    margin-bottom: 104px;
    display: flex;
}

.info-block__input {
    padding-left: 20px;
    width: 452px;
    height: 52px;
    background: #F2F2F2;
    border-radius: 4px 0 0 4px;
}

.info-block__form-button {
    background: #82B3D3;
    height: 52px;
    border-radius: 0 4px 4px 0;
    padding: 8px 50px;

    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.page-footer {}

.page-footer-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 120px;
}

.page-footer__nav-list {
    display: flex;
    column-gap: 26px;
}

.nav-item__vk {}

.nav-item__telegram {}

.nav-item__youtube {}

.page-footer__phone {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.page-footer__link {}


/* модальное окно */
.short-input-wrapper {
    display: flex;
    justify-content: space-between;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-container.open {
    display: flex;
}

.modal {
    position: relative;
    margin: auto;
    padding: 70px;
    background: #FFFFFF;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}

.modal input {
    height: 48px;
    background: #F2F2F2;
    border-radius: 4px;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    padding-left: 20px
}

.input-container {
    width: 100%;
}

.modal-content {
    min-width: 560px;
    position: relative;
}

.modal-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 60px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    row-gap: 23px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.calendar-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-20px, -50%);
    background-image: url(/src/img/calendar-ico.svg);
    width: 20px;
    height: 20px;
}

.num-input-container {
    display: flex;
}


.math-sign {
    position: absolute;
    right: 0;
    top: 50%;
    width: 15px;
    cursor: pointer;
}

.math-sign.minus {
    transform: translate(-94px, -50%);
    background-image: url(/src/img/minus.svg);
    height: 2px;
}

.math-sign.plus {
    height: 15px;
    transform: translate(-20px, -50%);
    background-image: url(/src/img/plus.svg);
}

input[id=kids],
input[id=adults] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content__close-btn {
    position: absolute;
    right: 0;
    transform: translate(20px, 0);
    cursor: pointer;
}

.input-hint {
    margin-left: 130px;
    padding: 4px;
}

.input-hint.warning {
    color: #FF5757;
}

.input-wrapper.short input {
    width: 70px;
    padding-left: 60px;
}

.input-label {
    margin-right: 24px;
    white-space: nowrap;
}

.label-wrap {
    width: 110px;
    display: flex;
    align-items: center;
}

.with-hint {
    margin-right: 10px;
}

.short {}

.label__hint {
    background-color: #83B3D3;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    position: relative;
}

.label__hint-content {
    display: none;
    position: absolute;
    background: #333333;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: #FFFFFF;
    padding: 18px;
    width: 216px;
    top: 35px;
}

.label__hint-arrow {
    display: none;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    background: #333333;
    top: 26px;
}

.label__hint:hover .label__hint-content,
.label__hint:hover .label__hint-arrow {
    display: block;
}

.modal-form__button {
    margin-top: 25px;
    background: #83B3D3;
    width: 100%;
    /* padding: 18px; */
    border-radius: 10px;
    height: 60px;
}

.modal-form__button-text {
    color: #F2F2F2;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

input[type=date]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
}
