@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
    font-family: "PT Sans";
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
}

.visually-hidden {
    visibility: hidden;
    position: absolute;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", "Arial", sans-serif;
}

.page-body {
    min-width: 1200px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 1200px;
}

.page-header {
    display: flex;
    margin-bottom: -4px;
}

.page-header__logo {
    margin-left: 70px;
    margin-bottom: -10px;
}

.logo-link {
    display: block;
}

.logo-link img {
    width: 138px;
    height: 70px;
}

.page-header ul {
    padding: 0;
    display: flex;
    list-style-type: none;
    column-gap: 32px;
    flex-wrap: wrap;
}

.page-header .navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 46px;
    margin-right: 70px;
}

.page-header .navigation-user {
    flex-wrap: wrap;
}

.navigation-item.search-hotels a {
    position: absolute;
    top: 8px;
    left: -12px;
}

.navigation-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    position: relative;
}

.navigation-item a:hover {
    color: #83b3d3;
}

.navigation-item.current::after {
    content: "";
    position: absolute;
    display: block;
    border: 1px #756257 solid;
    width: 100%;
    bottom: -13px;
}

.navigation-item__link {
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
}

.navigation-item__link.search {
    background-image: url(img/search.svg);
}

.navigation-item__link.fav {
    display: block;
    position: relative;
    background-image: url(img/favorite.svg);
}

.navigation-item a {
    text-decoration: none;
    color: black;
}

.navigation-item__link:hover {
    outline: #68a2ca 1px solid;
    outline-offset: 2px;
}

.navigation-item.button button {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 34px;
    background: #756157;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
}

.text-content {
    margin: 0;
    padding: 0;
}

.input {
    padding: 0;
    outline: none;
    border: none;
    margin: 0;
    font-family: "PT Sans", "Arial", sans-serif;
}

.button {
    outline: none;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    font-family: "PT Sans", "Arial", sans-serif;
}

.button:focus {
    outline: none;
    -webkit-box-shadow: 0 0 10px 7px rgba(127, 159, 184, 0.2);
    -moz-box-shadow: 0 0 10px 7px rgba(127, 159, 184, 0.2);
    box-shadow: 0 0 10px 7px rgba(127, 159, 184, 0.2);
}

.input:focus {
    -webkit-box-shadow: 0 0 10px 7px rgba(127, 159, 184, 0.2);
    -moz-box-shadow: 0 0 10px 7px rgba(127, 159, 184, 0.2);
    box-shadow: 0 0 10px 7px rgba(127, 159, 184, 0.2);
    outline: 2px solid #000000;
}

.favourites__count {
    position: absolute;
    top: -12px;
    background: #7db54f;
    border-radius: 50%;
    font-size: 10px;
    padding: 4px;
    right: -10px;
    color: #ffffff;
}

.section-start-content {
    width: 100%;
    min-height: 485px;
    background-image: url(img/cut-index-background.svg),
        url(img/index-background.jpg);
    background-position: bottom, center;
    background-repeat: no-repeat, no-repeat;
    background-color: #5d7da56b;
}

.start-content__banner {
    width: fit-content;
    margin: 0 auto;
    padding-top: 51px;
}

.start-content__banner img {
    width: 458px;
    height: 352px;
}

.page-main__city-features {
    width: 100%;
    margin-top: 62px;
}

.city-features__caption,
.city-features__desc-caption {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.city-features__desc-caption {
    font-size: 22px;
    color: #333333;
}

.city-features__caption {
    text-transform: uppercase;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-top: 67px;
}

.city-features {
    margin-top: 90px;
}

.city-features-wrap {
    min-height: 384px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.city-feature__picture img {
    display: block;
}

.city-feature__picture-plus.pic-right {
    grid-template-columns: 1fr 2fr;
}

.city-feature__picture-plus.pic-left {
    grid-template-columns: 2fr 1fr;
}

.city-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city-feature__picture-without .city-feature__title {
    margin-top: 102px;
}

.light-blue {
    background-color: #83b3d31f;
}

.blue {
    background-color: #83b3d333;
}

.ocean-blue {
    background-color: #82b3d3;
}

.ocean-blue {
    color: #ffffff;
}

.city-feature__title {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 92px;
    text-align: center;
}

.city-feature__title::after {
    content: "";
    display: block;
    height: 2px;
    width: 60px;
    background-color: #0000004d;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 29px;
}
.ocean-blue .city-feature__title::after {
    background-color: #ffffff4d;
}

.city-feature__title--icon {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.ocean-blue .city-feature__description {
    color: #ffffff;
}

.city-feature__title,
.city-feature__description {
    max-width: 272px;
    text-align: center;
}

.city-feature__description {
    font-size: 18px;
    color: #333333;
    line-height: 21px;
}

.city-feature__title--icon::before {
    content: "";
    display: block;
    width: 72px;
    height: 72px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 30px;
}

.city-feature--icon {
    row-gap: 30px;
}

.city-feature__title--icon.state::before {
    background-image: url(img/icon-residence.svg);
}

.city-feature__title--icon.food::before {
    background-image: url(img/icon-food.svg);
}

.city-feature__title--icon.souvenir::before {
    background-image: url(img/icon-souvenir.svg);
}

.page-main__info-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-block__container {
    width: 100%;
    text-align: center;
    margin: 96px auto;
}

.info-block__caption {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.info-block__text {
    color: #333333;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.info-block__hotel-seach-button {
    margin-top: 54px;
    color: #ffffff;
    padding: 8px 50px;
    background-color: #756157;
    outline: none;
    border: none;
    border-radius: 4px;
}

.info-block__button-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.info-block__mailing-wrap {
    background-image: url(img/footer-background.jpg);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    background-color: #5d7da56b;
    background-repeat: no-repeat;
    min-height: 415px;
    background-size: cover;
}

.info-block__mailing-wrap.noimage {
    background-image: none;
    color: #000000;
    background-color: unset;
    margin-top: 20px;
}

.info-block__mailing-caption {
    margin-top: 96px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}

.info-block__mailing-text {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.info-block__mailing-wrap.noimage .info-block__mailing-text {
    color: #333333;
}

.info-block__form {
    margin-top: 54px;
    margin-bottom: 100px;
    display: flex;
}

.info-block__input {
    padding-left: 20px;
    width: 432px;
    height: 52px;
    background: #f2f2f2;
    border-radius: 4px 0 0 4px;
}

.info-block__form input::placeholder {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
}

.info-block__form-button {
    background: #82b3d3;
    height: 52px;
    border-radius: 0 4px 4px 0;
    padding: 8px 50px;

    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
}

.page-footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-wrap: wrap;
    padding-left: 81px;
    padding-right: 70px;
}

.page-footer__nav-list {
    display: flex;
    column-gap: 27px;
    width: 33%;
    flex-wrap: wrap;
    margin-top: 6px;
}

.page-footer__phone {
    width: 32%;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    padding-top: 5px;
    margin-left: 17px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.page-footer__phone:hover,
.page-footer__phone:focus {
    color: #756157;
}

.page-footer__phone:active {
    opacity: 0.5;
}

.page-footer__link {
    width: 33%;
    margin-top: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.page-footer__link img {
    width: 115px;
    height: 33px;
}

.page-footer__link:hover img {
    filter: sepia(10%);
    opacity: 0.7;
}

.page-footer__link:focus img {
    filter: sepia(10%);
    opacity: 0.7;
}

.page-footer__link:active img {
    filter: sepia(10%);
    opacity: 0.4;
}

.nav-item__link {
    display: block;
    background-repeat: no-repeat;
}

.nav-item__link.vk {
    background-image: url(img/icon-vk.svg);
    width: 25px;
    height: 15px;
}

.nav-item__link:hover {
    filter: brightness(90%);
}

.nav-item__link:focus {
    filter: brightness(80%);
}

.nav-item__link:active {
    opacity: 0.5;
}

.nav-item__link.telegram {
    background-image: url(img/icon-telegram.svg);
    width: 18px;
    height: 16px;
}

.nav-item__link.youtube {
    background-image: url(img/icon-youtube.svg);
    width: 20px;
    height: 16px;
    background-size: cover;
}

.short-input-wrapper {
    display: flex;
    justify-content: space-between;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-container.open {
    display: flex;
}

.modal {
    position: relative;
    margin: auto;
    padding: 70px;
    background: #ffffff;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}

.modal input {
    height: 48px;
    background: #f2f2f2;
    border-radius: 4px;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    padding-left: 20px;
}

.input-container {
    width: 100%;
}

.modal-content {
    min-width: 576px;
    position: relative;
}

.modal-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 65px;
    margin-top: -5px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.modal-form input:focus,
.hotel-search__settings .input:focus {
    background-color: #e6e6e6;
    outline: #83b3d3 3px solid;
    box-shadow: none;
}

.modal-form input:active,
.hotel-search__settings .input:active {
    background-color: #e6e6e6;
    outline: #000000 3px solid;
    box-shadow: none;
}

.modal-form input:hover,
.hotel-search__settings .input:hover {
    background-color: #e6e6e6;
}

.input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.input-date__wrap {
    width: 100%;
    padding-right: 20px;
}

.input-wrapper .input-date__wrap::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-20px, -50%);
    background-image: url(img/calendar-ico.svg);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.num-input-container {
    display: flex;
}

.math-sign {
    position: absolute;
    right: 0;
    top: 50%;
    cursor: pointer;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
}

.input-wrapper.short input:hover ~ .math-sign {
    background-color: #e6e6e6;
}

.math-sign:hover {
    opacity: 1;
}

.math-sign:focus {
    opacity: 1;
    border: 2px solid #83b3d3;
    border-radius: 5px;
    box-shadow: none;
}

.math-sign:active {
    opacity: 0.2;
    border: none;
}

.math-sign.minus {
    transform: translate(-80px, -50%);
    background-image: url(img/minus.svg);
}

.math-sign.plus {
    transform: translate(-8px, -50%);
    background-image: url(img/plus.svg);
}

.modal-content__close-btn {
    background-image: url(img/modal-close.svg);
    position: absolute;
    right: 0;
    transform: translate(20px, 0);
    cursor: pointer;
    width: 52px;
    height: 52px;
    border: none;
    border-radius: 50%;
}

.modal-content__close-btn:hover {
    filter: brightness(90%);
}

.modal-content__close-btn:focus {
    filter: brightness(90%);
    outline: 3px solid #83b3d3;
    box-shadow: none;
}

.input-hint {
    margin: 0;
    margin-left: 154px;
    padding: 4px;
}

.input-hint.warning {
    color: #ff5757;
}

.label-wrap.info {
    width: 130px;
}

.input-wrapper.short input {
    width: 59px;
    padding-left: 51px;
}

.input-label {
    margin-right: 24px;
    white-space: nowrap;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
}

.label-wrap {
    width: 138px;
    display: flex;
    align-items: center;
}

.with-hint {
    margin-right: 10px;
}

.label__hint {
    background-color: #83b3d3;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    position: relative;
}

.label__hint-content {
    display: none;
    position: absolute;
    background: #333333;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: #ffffff;
    padding: 18px;
    width: 216px;
    top: 35px;
}

.label__hint-content::before {
    content: "";
    display: none;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translate(-50%, 0) rotate(45deg);
    background: #333333;
    top: -7px;
    left: 50%;
}

.label__hint:hover .label__hint-content,
.label__hint:hover .label__hint-content::before,
.label__hint:hover .label__hint-arrow {
    display: block;
}

.modal-form__button {
    margin-top: 25px;
    background: #83b3d3;
    width: 100%;
    border-radius: 10px;
    height: 60px;
}

.modal-form__button:hover {
    background: #68a2ca;
}

.modal-form__button:focus {
    background: #68a2ca;
    box-shadow: none;
}

.modal-form__button:active {
    background: #68a2ca;
}

.modal-form__button:active span {
    color: #ffffff30;
}

.modal-form__button-text {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
    appearance: textfield;
    -moz-appearance: number-input;
}

.hotel-search__range-scale {
    position: relative;
    height: 4px;
    background-color: #ffffff30;
    border-radius: 2px;
}

.hotel-search__range-bar {
    position: absolute;
    height: 4px;
    background-color: #ffffff;
    width: 215px;
}

.hotel-search__range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-min {
    top: -8px;
    left: 0;
}

.toggle-max {
    top: -8px;
    right: -12px;
}

.page-main__hotel-search {
    padding-top: 35px;
    padding-left: 70px;
    padding-bottom: 70px;
    color: #ffffff;
    background-image: url(img/hotels-background.jpg);
    background-color: #5d7da56b;
    min-height: 307px;
    background-repeat: no-repeat;
    background-size: cover;
}

.hotel-search__caption {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.hotel-search__block-caption {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 33px;
}

.hotel-search__nav {
    display: flex;
    column-gap: 28.5px;
    margin-bottom: 40px;
    align-items: center;
    position: relative;
    margin-top: 8px;
}

.hotel-search__nav-item {
    background-repeat: no-repeat;
}

.hotel-search__nav-item a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
}

.hotel-search__nav-item a:hover {
    color: #ffffff99;
}

.hotel-search__nav-item a:active {
    color: #ffffff4d;
}

.hotel-search__nav-item.state-icon {
    background-image: url(img/icon-home.svg);
    width: 12px;
    height: 12px;
}

.hotel-search__nav-item.state-icon::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url(img/arrow-forward.svg);
    width: 8px;
    height: 11px;
    top: 5px;
    left: 22px;
}

.hotel-search__settings {
    display: flex;
}

.hotel-search__features-list,
.hotel-search__type-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
}

.hotel-search__feature-item {
    display: flex;
    column-gap: 14px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.hotel-search__state-type {
    margin-left: 72px;
    margin-right: 148px;
}

.hotel-search__type-list {
    padding: 0;
    margin: 0;
}

.hotel-search__type-item {
    display: flex;
    column-gap: 14px;
}

.hotel-search__price {
    width: 288px;
}

.price-inputs {
    display: flex;
    column-gap: 2px;
    margin-bottom: 45px;
}

.price-input__wrap {
    width: 143px;
    height: 48px;
    position: relative;
}

.price-input__wrap input {
    height: 100%;
    padding-left: 20px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

.input-min-price,
.input-max-price {
    position: absolute;
    color: #8a8a8a;
    right: 20px;
    transform: translate(0, 55%);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.price-input__min {
    border-radius: 4px 0 0 4px;
}

.price-input {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.price-input__max {
    border-radius: 0 4px 4px 0;
}

.form-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 57px;
    width: 100%;
    row-gap: 32px;
}

.form-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    padding: 8px 50px 8px 50px;
    border-radius: 4px;
    background-color: #82b3d3;
    text-transform: uppercase;
}

.form-button:hover,
.form-button:focus {
    background-color: #68a2ca;
}

.form-button:active {
    background-color: #68a2ca;
    opacity: 0.7;
}

.form-button.clear-button {
    background: none;
}

.form-button.clear-button:hover {
    opacity: 0.85;
}

.hotel-search__result {
    margin-top: 50px;
}

.search-result__top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 39px;
}

.search-result__hotels-count {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    white-space: nowrap;
    padding-left: 70px;
}

.search-result__select-wrap {
    display: flex;
    align-items: center;
}

.search-result__top-bar select {
    padding: 13px 20px;
    height: 49px;
    padding-right: 131px;
    border: 2px solid #e5e5e5;
    border-radius: 4px;
    background-color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(img/new/select-arrow.svg);
    background-repeat: no-repeat;
    background-position: 94% 50%;
}

.search-result__top-bar select:hover,
.search-result__top-bar select:focus {
    border: 2px solid #68a2ca;
}

.search-result__top-bar select:active {
    border: 2px solid #333333;
}

.search-result__top-bar select:disabled {
    border: 2px solid #33333340;
    opacity: 0.4;
}

.search-result__top-bar option {
    background-color: #ffffff;
}

.search-result__view-type {
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
    column-gap: 8px;
}

.feature-item__input {
    display: block;
    position: static;
}

.view-type__buton {
    background: none;
    width: 48px;
    height: 48px;
    border-radius: 4px;
}

.view-type__buton:hover {
    outline: 2px solid #000000;
}

.view-type__buton:active {
    outline: 2px solid #000000;
}

.view-type__buton:focus {
    outline: 2px solid #82b3d3;
    box-shadow: none;
}

.view-type__buton.kanban {
    background-image: url(img/icon-kanban.svg);
}

.view-type__buton.single {
    background-image: url(img/icon-singleview.svg);
}

.view-type__buton.list {
    background-image: url(img/icon-list.svg);
}

.search-result-hotels {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 17px;
    row-gap: 18px;
    margin-left: 70px;
    margin-right: 70px;
}

.hotel-card {
    padding: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    max-width: 300px;
}

.hotel-card__hotel-name {
    margin-bottom: 14px;
    margin-top: 11px;
}

.hotel-card__info {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.hotel-card__main {
    display: flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    justify-content: space-between;
}

.hotel-card__buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hotel-card__button {
    border-radius: 4px;
    color: #ffffff;
    width: 47%;
    max-width: 47%;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    white-space: normal;
    text-transform: uppercase;
    padding: 8px;
}

.hotel-card__button:hover {
    outline-offset: -2px;
    outline: 1px lightgray solid;
}

.hotel-card__button span {
    max-width: 100%;
    word-break: break-all;
    display: block;
    width: 100%;
}

.hotel-card__state-type,
.hotel-card__price {
    color: #333333;
}

.more-info {
    background-color: #756157;
}

.favourites {
    background-color: #82b3d3;
}

.favourites.already-in {
    background-color: #7db54f;
}

.hotel-card__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating-count {
    border-radius: 4px;
    color: #333333;
    background-color: #f2f2f2;
    width: 47%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    text-transform: uppercase;
    margin: 0;
}

.rating-stars {
    display: flex;
    column-gap: 6px;
}

.rating-star {
    width: 18px;
    height: 17px;
    background-image: url(img/star.svg);
}

.result-pagination {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 40px;
    border-top: 1px solid #e6e6e6;
}

.pagination {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    column-gap: 8px;
}

.pagination-item {
    width: 60px;
    height: 60px;
    background-color: #82b3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}

.pagination-item:hover,
.pagination-item:focus {
    background-color: #68a2ca;
}

.pagination-item:active .pagination-item__link {
    color: #ffffff4d;
}

.pagination-item.current {
    background-color: #f2f2f2;
}

.pagination-item.current .pagination-item__link {
    color: #000000;
}

.pagination-item .pagination-item__link {
    color: #ffffff;
}

.pagination-hidden,
.pagination-hidden:hover {
    background: none;
    color: #000000;
}

.pagination-item__link {
    text-decoration: none;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox + label::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 17px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 65% 55%;
    background-color: #ffffff;
}

.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: #acacac;
}

.custom-checkbox:not(:disabled):active + label::before {
    background-color: #b3d7ff;
    border-color: #ffffff;
}

.hotel-search__feature-item input:hover,
.hotel-search__feature-item label:hover,
.hotel-search__type-item input:hover,
.hotel-search__type-item label:hover {
    opacity: 0.7;
}

.hotel-search__feature-item .custom-checkbox:focus + label::before {
    box-shadow: 0 0 0 0.2rem #82b3d3;
}

.hotel-search__feature-item .custom-checkbox:active + label::before {
    opacity: 0.5;
}

.custom-checkbox:focus:not(:checked) + label::before {
    border-color: #ffffff;
}

.custom-checkbox:checked + label::before {
    border-color: #ffffff;
    background-color: #ffffff;
    background-image: url(img/new/checkmark.png);
}

.custom-checkbox:disabled + label::before {
    background-color: #e9ecef;
}

.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-radio + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-radio + label::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 17px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 55% 55%;
    background-color: #ffffff;
}

.custom-radio:not(:disabled):not(:checked) + label:hover::before {
    border-color: #b3d7ff;
}

.custom-radio:not(:disabled):active + label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

.custom-radio:focus + label::before {
    box-shadow: 0 0 0 0.2rem #82b3d3;
}

.custom-radio:active + label::before {
    opacity: 0.5;
}

.custom-radio:focus:not(:checked) + label::before {
    border-color: #80bdff;
}

.custom-radio:checked + label::before {
    border-color: #ffffff;
    background-color: #ffffff;
    background-image: url(img/circle.svg);
}

.custom-radio:disabled + label::before {
    background-color: #e9ecef;
}

.button-green:hover,
.button-blue:hover,
.button-brown:hover {
}

.button-green:hover {
    background-color: #6c9e42;
    outline: none;
    box-shadow: none;
}

.page-body .button-green:focus {
    background-color: #6c9e42;
    outline: none;
    box-shadow: none;
}

.page-body .button-green:active {
    outline: none;
    box-shadow: none;
    color: #ffffff4d;
}

.button-blue:hover {
    background-color: #68a2ca;
    outline: none;
    box-shadow: none;
}

.page-body .button-blue:focus {
    background-color: #68a2ca;
    outline: none;
    box-shadow: none;
}

.page-body .button-blue:active {
    outline: none;
    box-shadow: none;
    color: #ffffff4d;
}

.page-body .button-brown:hover {
    background-color: #615048;
    outline: none;
    box-shadow: none;
}

.page-body .button-brown:focus {
    background-color: #615048;
    outline: none;
    box-shadow: none;
}

.page-body .button-brown:active {
    outline: none;
    box-shadow: none;
    color: #ffffff4d;
}

.page-body .button-brown:disabled,
.page-body .button-green:disabled,
.page-body .button-blue:disabled {
    outline: none;
    box-shadow: none;
    background-color: #e5e5e5;
}

.page-body .clear-button:focus {
    box-shadow: none;
    outline: #83b3d3 solid 3px;
}

.page-body .clear-button:active {
    box-shadow: none;
    outline: none;
    opacity: 0.4;
}

.page-body .clear-button:disabled {
    box-shadow: none;
    outline: none;
    opacity: 0.2;
}
